<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <button (click)="doLogout()" class="logout-button">LOGOUT</button>
    <div class="div-home">
      <h1 class="text-account">Il tuo account</h1>
      <p class="p-account" >Username:</p>
      <p class="username">{{username}}</p>
    </div>
  </div>
</body>
</html>
