<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="container">
      <div class="label-input">
        <label id="error-label" class="label" for="uname"><b>{{error}}</b></label>
      </div>
      <div class="label-input">
        <label class="label" for="uname"><b>Username</b></label>
        <input class="text-input" type="text" [(ngModel)]="username" placeholder="Enter Username" name="username" required>
      </div>
      <div class="label-input">
        <label class="label" for="psw"><b>Password</b></label>
        <input class="text-input" type="password" [(ngModel)]="password" placeholder="Enter Password" name="psw" required>
      </div>
      <div>
        <button class="button-login" type="button" (click)=doLogin()>Login</button>
      </div>
    </div>
</body>
</html>
